@{
    ViewData["Title"] = "Home Page";
}

@{
    var message = $"{DateTime.Now.ToShortDateString()} - {DateTime.Now.ToShortTimeString()}";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@message</p>
</div>
